<div class="edit-card">
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
        
        <p>
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name">
        </p>
        <p>
            <label for="description">Description</label>
            <textarea type="text" id="description" formControlName="description" rows="6"></textarea>
        </p>
        <div>
            <button type="button" (click)="onRevert()">Revert</button>
            <button type="submit" >Save</button>
        </div>

    </form>

</div>