.container {
  margin-top: 100px;
  margin-left: 200px;
  width: 80%;
}

form {
  width: 60%;
}

p {
  display: flex;
  flex-direction: column;
}

.message {
  height: 100px;
}

.name {
    height: 40px;
}

label {
    margin-top: 20px;
}

button {
  margin-top: 30px;
  background-color: #eb0000;
  border: #eb0000;
  border-radius: 5px;
  width: 150px;
  color: white;
  height: 30px;
  cursor: pointer;
}
