<div class="main-container">

    <div class="header-container">
      <h1>Verify Your Appointment</h1>
    </div>
    <div class="header-container">
      <span>Here is your visit</span>
    </div>
    <div class="header-container">
      <span>Please verify the details of your visit</span>
      <span>complete the contents...</span>
    </div>
  
  
    <div>
        <label for="name">Who</label> <br>
        <!-- <p>{{patient.firstName}}</p> -->
        <!-- <p>{{patient.lastName}}</p> -->
    </div>
  
  
  </div>

